html {
    scroll-behavior: smooth;
}

/*Cuerpo de la pagina*/
body {
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}
/*Header de la pagina*/
header {
    min-height: 80px;
    display: flex;
    align-items: center;
    min-width: 100vw;
    justify-content: space-between;
    background: antiquewhite;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

header p {
    font-size: 30px;
}
/*
Utilizacion de etiqueta nav para facilitar el seccionamiento de la pagina
Tambien aqui se configura las propiedades del menu de navegacion
*/
nav.menu {
    display: flex;
}

nav.menu ul.index {
    list-style-type: none;
    display: flex;
    margin-right: 25px;
}

nav.menu ul li.tab {
    padding-right: 10px;
}

nav.menu ul.index li.tab a[data-switcher] {
    color: black;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 25px;
    font-weight: 300;
}

nav.menu ul.index li.tab a[data-switcher]:hover {
    color: red;
}

nav.menu ul li.tab:hover {
    color: red;
    cursor: pointer;
}

nav.menu ul.index li.tab.is-active {
    color: red;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 25px;
    font-weight: 600;
}

nav.menu ul.index li.tab.is-active a[data-switcher] {
    color: red;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 25px;
    font-weight: 300;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
    margin: 10px;
}

/*Aqui termina el estilo del header*/
/*

/*Imagen de una flecha que manda al inicio de la pagina*/
a img.arrow {
    padding: 0;
    margin: 0;
    position: fixed;
    float: left;
}

a.arrow {
    padding: 0;
}

img.arrow {
    position: fixed;
    margin-left: 0;
    content: url("../media/images/arrow.png");
    width: 2vw;
    float: left;
    padding: 0;
}

.arrow:hover {
    cursor: pointer;
}
/*Aqui termina esa imagen de flecha*/

/*classes .page para seccionar la pagina y poder demostrar su contenido
Cuando esten activas
*/
.page {
    display: none;
}

.page.is-active {
    display: block;
}
/*Aqui termina el .page*/

/*Indice interior de la pagina inicio*/
div.innerIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    max-height: 60px;
    width: 100%;
    background: beige;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.75) inset;
}
h2 ul li:hover {
    font-size: 30px;
}

.innerIndex ul {
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid black;
    padding-left: 1vw;
    border-radius: 6px;
}

.innerIndex ul li {
    padding-right: 1vw;
}
/*Aqui termina el contenido del inner index*/


h2 {
    font-family: 'Kanit', sans-serif;
}


.contentHistoria {
    padding: 1vw 2vh;
    border: 1px solid black;
    border-radius: 30px;
    margin: 2vh 2vw;
}

.contentOrigenes {
    padding: 1vw 2vh;
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 30px 30px 0 0;
    margin: 2vh 2vw 0;
}

.contentRisc {
    display: flex;
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 1vw 2vh;
    justify-content: space-between;
    word-break: break-word;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}
/*Determina si un div de contenido tendra un borde o no*/
.noBorder {
    box-shadow: 0 0px 0px 0px #000000, 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0 0px 0 #000000, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
/*Lo contrario al de arriba*/
.border {
    word-break: break-word;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
/*Div para poder desplegar contenido de forma natural o block*/
.mid {
    align-items: center;
    text-justify: auto;
    display: inline-block;
}
/*Agrega curvatura a un div que no tenga, de abajo*/
.rad {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*Agrega un borde al final de un div*/
.final {
    border-bottom: 1px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 2vh;
}
/*Div que tiene el conteindo de la seccion marcas*/
.contentMarcas {
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
    background: white;
    margin-bottom: 2vh;
}
/*Mera estetica de la pagina*/
.marcas div.intel {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.39);
    height: fit-content;
    border-radius: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin-bottom: 3vh;
    padding-bottom: 2vh;
}

h2.intel {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1vh;
}

p.intel {
    color: white;
    padding-bottom: 5vh;
}

.marcas div.amd {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.39);
    height: fit-content;
    border-radius: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    padding-bottom: 2vh;
    margin-bottom: 3vh;
}

h2.amd {
    text-align: center;
    font-size: 40px;
    margin-bottom: 1vh;
}

p.amd {
    padding-bottom: 5vh;
}
/*En este div se encuentra el conteido para imagenes con hover*/
div.images {
    position: relative;
    text-align: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

img.main {
    opacity: 1;
    display: block;
    height: auto;
    text-align: center;
    align-items: center;
    margin: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    max-height: 300px;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    word-break: break-word;
}

.overlay p{
    word-break: break-word;
    margin: 0;
}


.images:hover .main {
    opacity: 0.3;
}

.images:hover .overlay {
    opacity: 1;
}
/*Aqui termina el div de imagenes*/
.origins {
    display: none;
}
/*Mero estilo de etiquetas de texto*/
p {
    margin: 2vw;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}

h3 {
    font-size: 21px;
    margin-top: 2vh;
    padding-top: 2vh;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.mid h3 {
    padding: 0;
    margin: 0
}

a {
    color: black;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 25px;
    font-weight: 300;
}

/*Aqui comienza el dise;o del apartado 'AMD'*/

/*Este indice es el que se utilizara en la pagina AMD*/

.amd div.index{
    width: 100%;
    height: 20vh;
    background: black;
    text-align: center;
    align-items: center;
    margin: auto;
}

.index ul{
    display: flex;
    list-style-type: none;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3vw 3vh;
}

.index li{
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.index ul li a{
    display: block;
    color: white;
    text-align: center;
    padding-right: 1vw;
    text-decoration: none;
}

.index ul li a:hover{
    font-size: 30px;
}

.amd div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    /*background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(247,87,0,0.5) 0%, rgba(249,0,0,0.5) 90.1% );*/
    margin: auto;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 5px 15px 0px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, inset 0px 5px 15px 0px rgba(0,0,0,0);
}

.one{
    background-image: url("../media/images/redwallpaper2.png");
    background-attachment: fixed;
    background-size: 100%;
    filter: blur();
}

.two{
    background-image: url("../media/images/redwallpaper1.png");
    background-attachment: fixed;
    background-repeat: repeat;
}

.three{
    background-image: url("../media/images/redwallpaper3.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

dl{
    margin-left: 2vw;
    word-break: break-word;
}

dt{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}

dd{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 5vw;
}

.header h1{
    color: white;
    width: 100%;
    text-align: center;
    align-items: center;
}

.amd .content{
    margin-top: 1vh;
    background: white;
    width: 100%;
    padding: 1vw 1vh;
}

/*Aqui termina el dise;o de AMD*/

/*Aqui comienza el dise;o de INTEL*/

.header .intel{

}

/*Aqui termina el dise;o de Intel*/

/*Footer*/

div.footer{
    width: 100%;
    height: 60px;
    background: black;
    text-align: center;
    align-items: center;
    bottom: 100%;
    margin-bottom: 0;
    padding: 2vw 2vh;
}
.redes{
    margin-bottom: 0;
    width: auto;
    height: 50px;
}

.footer a{
    margin: auto;
    padding-left: 2vw;
}
/*Fin footer*/
/*Aqui termina el contenido de la pagina cpu*/
/*Este apartado agrega mas responsividad a la pagina usando meqdia
querys*/

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    div.index {
        width: 30vw;
    }

    h2 {
        font-size: 4vw;
    }

    h2 ul li:hover {
        font-size: 5vw;
    }

    .contentOrigenesImg {
        flex-direction: column;
    }

    .contentOrigenesImg img {
        height: 20vh;
        width: 50%;
        margin: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    img.main {
        max-width: 100%;
    }

    .contentRisc {
        flex-direction: column;
    }

    .arrow {
        height: 5vh;
    }

    .amd div.index li a{
        font-size: 4vw;
        padding-bottom: 2vh;
        margin: auto;
        padding-top: 0;
    }

    .amd div.index ul li a:hover{
        font-size: 5vw;
    }

    .one,.two,.three{
        background-attachment: local;
    }

    .three{
        background-size: 100%;
    }
}